# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
.env
.venv
env/
venv/

# IDE files
.idea/
.vscode/

# Project-specific ignores
config.py
processed/
*.log

# Логи
logs/
*.log

# Профилирование
profile.stats
profiles/
profiling.py

# Docker (опционально, если собираете образ локально)
.sandbox-cache/